.header {
  height: 100vw;
  max-height: 800px;
  background: url(./../res/img/header-bg.png) no-repeat center;
  background-size: cover;
}

.menu {
  padding-top: 35px;
}

.menu .logo {
  background: url("./../res/icon/logo.png") no-repeat center;
  width: 94px;
  height: 85px;
}

.menu__list {
  margin: 0 0 0 -10px;
  padding: 0;
}

.menu__item {
  list-style: none;
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
}

.menu__item:not(:first-child) {
  margin-left: 23px;
}

.menu__item:not(:last-child) {
  margin-right: 11px;
}

.menu .logo {
  -webkit-transform: none;
          transform: none;
  margin: 0 41px 0 51px;
}

.menu .link {
  font-size: 13px;
  font-family: "lato-bold", sans-serif;
  color: #4d4959;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1.2;
  text-decoration: none;
  letter-spacing: 2px;
}

.about,
.twitter {
  text-align: center;
  background-color: #f7f7f7;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-height: 469px;
  height: 100vw;
}

.about__desc,
.twitter__desc {
  width: 68%;
  letter-spacing: -.19px;
}

.about__logo,
.twitter__logo {
  margin-top: -16px;
}

.works {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (33.3333%)[3];
      grid-template-columns: repeat(3, 33.3333%);
  -ms-grid-rows: (37.5vw)[3];
      grid-template-rows: repeat(3, 37.5vw);
      grid-template-areas: 'big-img-1 big-img-1 card-1' 'card-2 big-img-2 big-img-2' 'card-3 card-4 card-5';
}

.works .big-img-1 {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: big-img-1;
}

.works .big-img-2 {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-area: big-img-2;
}

.works .card {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.works .card .wrapper {
  margin: 70px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  text-align: center;
}

.works .card .wrapper .desc {
  text-align: justify;
}

.works .card-1 {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: card-1;
}

.works .card-2 {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: card-2;
}

.works .card-3 {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: card-3;
}

.works .card-4 {
  -ms-grid-row: 3;
  -ms-grid-column: 2;
  grid-area: card-4;
}

.works .img-b {
  position: relative;
  z-index: -1;
  width: 100%;
  height: 100%;
}

.works .img-s {
  position: relative;
  z-index: -1;
  width: 100%;
  max-height: 200px;
}

.shop__item {
  overflow: hidden;
}

.shop__item img {
  height: 100%;
}

.shop__grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (16.66667%)[6];
      grid-template-columns: repeat(6, 16.66667%);
  -ms-grid-rows: (16.6875vw)[2];
      grid-template-rows: repeat(2, 16.6875vw);
      grid-template-areas: 'sc-1 sc-2 mcv-1 mcv-2 mch-1 mch-1' 'mch-2 mch-2 mcv-1 mcv-2 mch-3 mch-4';
}

.shop__grid .sc-1 {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: sc-1;
}

.shop__grid .sc-2 {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: sc-2;
}

.shop__grid .mcv-1 {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 3;
  grid-area: mcv-1;
}

.shop__grid .mcv-2 {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 4;
  grid-area: mcv-2;
}

.shop__grid .mch-1 {
  -ms-grid-row: 1;
  -ms-grid-column: 5;
  -ms-grid-column-span: 2;
  grid-area: mch-1;
}

.shop__grid .mch-2 {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: mch-2;
}

.shop__grid .mch-3 {
  -ms-grid-row: 2;
  -ms-grid-column: 5;
  grid-area: mch-3;
}

.shop__more {
  background: #282f35;
  padding: 75px 0;
  text-align: center;
}

.shop__btn {
  width: 300px;
  height: 50px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  cursor: pointer;
  font-size: 14px;
  font-family: "Lato", sans-serif;
  color: white;
  font-weight: bold;
  text-transform: uppercase;
  border: 1px solid #fff;
  background: transparent;
}

.dflex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer {
  text-align: center;
}

.footer .form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 534px;
  width: 100%;
  margin: 0 auto;
}

.footer .form__btn {
  font-size: 24px;
  font-family: "Lato", sans-serif;
  color: white;
  line-height: 1;
  text-align: center;
  background-color: #64c29e;
  width: 126px;
  height: 69px;
  text-transform: uppercase;
  border: none;
  margin-left: 8px;
}

.footer .form__mail {
  height: 69px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-style: solid;
  border-width: 1px;
  border-color: #d3d7d9;
  background-color: white;
  width: 404px;
  text-indent: 27px;
  font-size: 20px;
  font-family: "Lato";
  color: rgba(146, 146, 146, 0.502);
  font-style: italic;
  line-height: 1.2;
  text-align: center;
}

.footer__info {
  background: #f7f7f7;
  padding: 100px 0;
}

.footer__info .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer__col {
  max-width: 534px;
  width: 100%;
}

.footer address span {
  display: block;
  text-align: left;
}

.footer .soc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.common {
  text-align: center;
}

.common__img {
  width: 52px;
  height: 43px;
}

.common__title {
  font-size: 18px;
  font-family: "lato-bold", sans-serif;
  color: #353738;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 3.2px;
  margin: 30px 0;
}

.common__desc {
  font-size: 18px;
  font-family: "lato", sans-serif;
  color: #848789;
  line-height: 1.889;
  margin: -8px -33px 0 0;
}
/*# sourceMappingURL=main.css.map */